<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>百度云——云上的日子 你我共享</title>
		<link rel="stylesheet" type="text/css" href="/public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/reset.css"/>
		<script src="/public/js/index.js"></script>
		<script src="/public/js/jquery.min.js"></script>
	</head>
	<body>
		<!--head头部-->
		<header class="index_head clearfix">
			<!--h1大标题-->
			<h1 class="index_title fl index_bg">百度云</h1>
			<!--头部左导航-->
			<ul class="nav_left fl">
				<!--主页-->
				<li>主页</li>
				<!--网盘分类-->
				<li class="navlift_li" id="navlift_li">
					网盘
					<span class="list_item index_bg"></span>
				</li>
				<!--分享-->
				<li>分享</li>
				<!--应用-->
				<li>应用</li>
			</ul>
			<!--网盘分类-->
			<div id="index_list_box">
				<a href="javascript:;">
					<span></span>
				</a>
			</div>
			<!--head右导航-->
			<ul class="nav_right fr">
				<!--超级会员链接-->
				<li class="right_sup">超级会员 限时优惠</li>
				<!--会员中心-->
				<li class="right_user">会员中心</li>
				<!--download-->
				<li class="right_down">客户端下载</li>
				<!--更多more-->
				<li class="right_more">
					更多
					<span class="right_more_ico index_bg"></span>
				</li>
			</ul>
		</header>
		<!--主体内容区域-->
		<div class="cont">
			<!--背景图区域-->
			<div class="cont_bg">
				<!--背景图上半部分-->
				<div class="cont_bg_top">
					<img src="/public/img/bg_shad_top.jpg"/>
				</div>
				<!--背景图下半部分-->
				<div class="cont_bg_bottom">
					<img src="/public/img/bg_shad_bottom.jpg"/>
				</div>
				<!--gif两个图-->
				<img src="/public/img/tab_1_slog.gif" class="cont_bg_ico_1"/>
				<img src="/public/img/bg-heart.gif" class="cont_bg_ico_2"/>
				<!--登陆框-->
				<div class="index_login">
					<!--登陆框标题-->
					<div class="login_title clearfix">
						<span class="fl index_bg"></span>
						登陆百度账号
						<a href="javascript:;" class="fr">海外手机号</a>
					</div>
					<!--登陆框盒子-->
					<div class="login_box">
						<!--登陆框账号-->
						<div class="login_user">
							<label for="login_user_text"class="login_bg"></label>
							<input id="login_user_text" type="text" placeholder="手机/邮箱/用户名"/>
						</div>
						<!--登陆框密码-->
						<div class="login_pass">
							<label for="login_user_pass"class="login_bg"></label>
							<input id="login_user_pass" type="password" placeholder="密码"/>
						</div>
					</div>
					<!--登陆点击按钮-->
					<span id="index_tips"></span>
					<input type="submit"id="login_submit" value="登陆" class="login_submit login_bg"/>
					<!--注册按钮-->
					<a href="login" class="index_register login_bg" id="index_register">立即注册百度账号</a>
				</div>
			</div>
			<!--请继续按钮-->
			<span class="index_go foot_bg">请继续</span>
		</div>
		<!--分享达人-->
		<div class="cont_bot">
			<div class="index_share">
				<h3 class="foot_bg">
					分享达人
					<a href="javascript:;" class="foot_bg">换一批</a>
				</h3>
			</div>
			<!--分享达人列表-->
			<ul class="cont_bot_list clearfix">
				<!--列表开始-->
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
				<li class="bot_list_item">
					<a href="javascript:;" class="item_ico">
						<img src="/public/img/29b91d41.jpg"/>
					</a>
					<h6 class="item_title">
						<a href="javascript:;">中*纵横</a>
					</h6>
					<p class="item_show">纵横中文网入驻百度网盘</p>
				</li>
			</ul>
		</div>
		<!--底部客户端列表-->
		<div class="down_wrapper">
			<div class="wrapper_item clearfix">
				<a href="javascript:;">windows</a>
				<a href="javascript:;">android</a>
				<a href="javascript:;">iphone</a>
				<a href="javascript:;">ipad</a>
				<a href="javascript:;">wp</a>
				<a href="javascript:;">mac</a>
			</div>
		</div>
		<!--底部服务链接-->
		<footer class="foot">
			<p class="foot_list">
				©2016
				<a href="javascript:;">Baidu</a>
				<a href="javascript:;">移动开放平台</a>
				| 
				 <a href="javascript:;">服务协议</a>
				| 
				 <a href="javascript:;">权利声明</a>
				| 
				<a href="javascript:;">版本更新</a>
				| 
				<a href="javascript:;">帮助中心</a>
				| 
				<a href="javascript:;">问题反馈</a>
				| 
				<a href="javascript:;">版权投诉</a>
			</p>
		</footer>
	</body>
	<script></script>
</html>
